<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="jumbotron text-center">
  <div class="container">
    <h1>MENTIONSBOT</h1>
    <p>Github bot that automagically mentions people to review your code.</p>
  </div>
</div>

</body>
</html>
